<!doctype html>
<html lang="en" dir="ltr">

<head>
  <title>Fiscally, your Finacial Ally</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
      <h1><img src="img/fiscallyw.png" alt="Fiscally Logo"></h1>
      <h2>Your Finacial Ally</h2>

      <p>Login or Signup:</p>
      <a href="/login" class="btn"><span class="fa fa-user"></span> Login</a>
      <a href="/signup" class="btn"><span class="fa fa-user"></span> Sign up</a>

</body>

</html>
